<h1>ストーリー詳細</h1>

<table class="table table-striped">
  <tr>
    <th>カテゴリ</th>
    <td><%= @story.category %></td>
  </tr>
  
  <tr>
    <th>タイトル</th>
    <td><%= @story.name %></td>
  </tr>
  
</table>
<%= link_to "戻る", admin_stories_path, class: "btn btn-secondary" %>
