<h1>ログイン </h1>
<%= form_with url: login_path, local: true do |f| %>


  <label>メールアドレス </label>
  <%= f.text_field :email %>


  <label>パスワード</label>
  <%= f.password_field :password %>

  <%= f.submit "ログイン"%> 
<% end %>

