<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>rekishi</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    
    <header></header>
    <div class="top-wrapper">
        <div class="container">
        <h1>☆RE・KI・SHI☆</h1>
        
        <p>REKISHIではクイズを解きながら歴史を学べるサービスです。</p>
        <p><%= link_to "会員登録", signup_path %></p>or<p><%= link_to "login", login_path %></p>
        
      </div>
       

    </div>
    <div class="story-wrapper"></div>


    <footer></footer>
  </body>
</html>