<h1>ストーリー</h1>
<table>
    <tr>
        <th>カテゴリ</th>
        <th>タイトル</th>
    </tr>
    <% @stories.each do |story| %>
    <tr>
        <td><%= story.category %></td>
        <td><%= story.name %></td>
    </tr>
    <% end %>
</table>