// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    color: red;
}

.top-wrapper {
    width: 1000px;
    margin: 0 auto;
}
 
.container h1 {
    letter-spacing: 10px;
    text-align: center;
} 

.container h2 {
    color: blue;
    
}

.container li {
    line-height: 36px;
}

.story-wrapper {
    height: 200px;
    background-color: #f7f7f7;
}

.heading {
    text-align: center;
    
}

.category {
  float: left;
  width: 20%;
}

.name {
    color: blue;
    text-align: center;
}

.category p {
    font-size: 14px;
    text-align: center;
}

.title {
    background-image: url("/4236176_m.jpg");
    height: 400px;
    width: 100%;
    background-size: cover;
}